﻿@using EntitiesCL;
@model Institution
@{
    ViewBag.Title = "Institution";
}
<hr />
Institution ID : @(Model.InstitutionID)
<hr />
Institution Name : @(Model.Name)
<hr />
Institution Address : @(Model.Address)
<hr />
Institution Telephone : @(Model.Telephone)

